/*    body styling, getting margins all set up   */

html {
   background-color: #47a3da;
   font-family: "Verdana", sans-serif;
   line-height: 1.4;
   font-size: 2em;
}

.body {
   margin: 2em 3em 2em 3em;
}

#wholeForm {
   padding: 0.5em;
}

/*   list styling    */

.column {
   display: inline-block;
   width: 28%;
   padding: 0.5em;

}

span {
   margin-bottom: 0.5em;
   display: block;
   padding-bottom: 0.1em;
}

label {
   font-size: 0.6em;
   padding-left: 0.2em;
   color: #eee;
}

input {
   padding: 0.5em;
   font-size: 0.6em;
   border: 0.2em solid #eee;
   background-color: inherit;
   color: #eee;
}

::-webkit-input-placeholder {
   color: #10689a;
}

select {
   font-size: 0.6em;
   background-color: inherit;
   color: #eee;
}

select {
   border: 0.1em solid white;
}


textarea {
   background-color: inherit;
   border: 0.2em solid white;
   width: 80%;
   font-size: 0.7em;
   height: 7em;
   color: #eee;
}

.submit {
   background-color: #10689a;
   text-decoration: underline;
   border: none;
   padding: 1em;
}

.submit-span {
   text-align: center;
}
